name: build

on:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: deps
        run: sudo apt-get update && sudo apt-get install -y gcc make python3-dev libncurses5-dev libncursesw5-dev
      - name: build
        run: make
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: unhex-build
          path: |
            bin/unhex
            python/*.so
